fastapi
uvicorn
python-dotenv
supabase
python-jose
python-multipart
PyPDF2
agno
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-qdrant
groq
joblib
xgboost 
scikit-learn
ddgs
sentence-transformers